.container-detail-post{
    margin: 0rem 2rem 2rem 2rem;
    padding:0rem 2rem 2rem 2rem;
    border: 1px solid #B4B4B3;
    color: #7A7A7A;
    box-shadow: 0rem 0.3rem 0.5rem #888888;
    border-radius: 0rem 0rem 0.8rem 0.8rem;
}
.header-post{
    height: 5rem;
    background: blue;
    border-radius: 0.8rem 0.8rem 0rem 0rem;
    margin:2rem 2rem 0rem 2rem;
}

.button{
    width:10rem;
}

.list-comments{
    list-style-type: none;
    margin: 1rem 0rem 3rem 0rem;
    border: 1px solid #B4B4B3;
    width: 100%;
    min-height: 80%;
    background: white;
}
