
.menu-main{
    background: linear-gradient(rgb(54, 51, 197) 0%, rgb(255, 255, 255) 100%);;
    height: 20rem;
    width: auto;
    .button-all{
        display: inline-block;
        width:10rem;
    }
    .group-button{
        display: inline-block;
        list-style-type: none;
        margin: 0rem 0rem 0rem 0rem;
        .button{
            margin: 0rem 2rem 0rem 0rem;
            display: inline-block;
            width:10rem;
        }
    }

}


.container{
    padding:2rem 0rem 0rem 0rem;
    .new-post-button{
        padding:0rem 6.5rem 0rem 0rem;
        text-align: right;
    }
    .list-cards{
        list-style-type: none;
        .cards-of-posts{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: 1rem auto 3rem auto;
            border-radius: 0.2rem;
            width: 80%;
            min-height: 30rem;
            background: white;
            border: 1px solid #B4B4B3;
            color: #7A7A7A;
            box-shadow: 0rem 0.3rem 0.5rem #888888;
            .edit-post-button{
                width:7%;
                height:30px;
                text-align: auto;
                margin:0rem 1rem 0rem auto;
            }
            .delete-post-button{
                width:7%;
                height:30px;
                text-align: auto;
                margin:0rem 1rem 0rem auto;
            }
            .author-info-grp{
                display:flex;
                right:1rem;
                .post-time-value{
                    display: inline-block;
                    text-align: right;
                    color: #7a7a7a;
                    font-size: 1rem;
                }
                .post-author-title{
                    vertical-align: middle;
                    display: inline-block;
                    text-align: center;
                }
                .post-author-value{
                    display: inline-block;
                    font-size:0.8rem;
                    text-align: center;
                }
            }
            .post-title-value{
                text-align: center;
                vertical-align: middle;
                color: #7a7a7a;
                font-size: 2rem;
            }
            .post-body-value{
                height:50%;
                width:90%;
                margin:2rem 2.5rem 0rem 2.5rem;
                border: 1px solid #a8a8a8;
                border-radius: 0.5rem;
            }
        }
    }
    .comments-button{
        margin:0.5rem 2.5rem 0rem 2.5rem;
        padding: 0rem 0rem 0rem 0rem;
        height:2rem;
        width:90%;
    }
}

